# Виртуальное окружение
.venv

# Среда разработки
.idea/

# Служебные файлы Python
__pycache__/
*.pyc

# Индивидуальные данные
.env

# Служебные данные Alembic
alembic/versions/__pycache__/
alembic/versions/*.pyc

# Данные БД
*.sqlite
*.sqlite3
*.db

# Дополнительно
/.coverage
/alembic.ini
/alembic/env.py
/data/processed/obsidian_dump.json
/alembic/README
/alembic/script.py.mako
/Obsidian_socnet/Иванов Иван Иванович.md
